*.db
*.swp
cscope.*
*.pem
*.json
cmd/tesla-control/tesla-control
cmd/tesla-auth-token/tesla-auth-token
cmd/tesla-key-setup/tesla-key-setup
examples/unlock/unlock
examples/ble/ble
*.DS_Store
*.key
config

# Compiled binaries
main
tesla-keygen
tesla-control
tesla-http-proxy
go1.23.4.linux-amd64.tar.gz
